<div class="summary-wrappeer">

    <div class="summary text">
        <h2>Game summary</h2>
        Very good! youe have finished the game!</div>
    <div>
        <table class="summary summary-table ">
            <thead>
                <tr>
                    <th>type of answer</th>
                    <th>in numbers</th>
                    <th>in precent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>without errors</td>
                    <td>{{pre}}</td>
                    <td>{{pre}}</td>
                    <!-- <td>{{num.q0}}</td>
                    <td>{{pre.q0}}</td> -->
                </tr>
                <tr>
                    <td>two mistakes</td>
                    <!-- <td>{{num.q1}}</td>
                    <td>{{pre.q1}} </td> -->
                </tr>
                <tr>
                    <td>more than two mistakes</td>
                    <!-- <td>{{num.q23}}</td>
                    <td>{{pre.q23}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>