<div class="summary-wrappeer">

    <div class="summary text">
        <h2>Game summary</h2>
        {{summup.text}}
    </div>
    <div>
        <table class="summary summary-table ">
            <thead>
                <tr>
                    <th>type of answer</th>
                    <th>in numbers</th>
                    <th>in precent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>without errors</td>
                    <td>{{summup.q0}}</td>
                    <td>{{summup.p0 | percent}}</td>

                </tr>
                <tr>
                    <td>two mistakes</td>
                    <td>{{summup.q1}}</td>
                    <td>{{summup.p1 | percent}}</td>
                </tr>
                <tr>
                    <td>more than two mistakes</td>
                    <td>{{summup.q23}}</td>
                    <td>{{summup.p23| percent}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>