<div class="asteroidWrapper" (click)="onClickAsteroid()"
    [ngStyle]="{left: getLeft(), bottom:getBottom(),display: astData.removed ? 'none' : 'inline-block'}"
    (mouseover)="mouseEnterAsteroid($event)" (mouseout)="mouseExitAsteroid($event)">
    <img draggable="false" class="asteroidImage spin" [ngClass]="{reversspin  : isReversed}"
        [style.animation-duration]="rotationSpeed" [src]="imageSrc" alt="asteroid"
        [ngClass]="{explode:astData.explode,destroyed:astData.destroy,warm: astData.warm}">
    <div class="asteroid-text" [ngClass]="{explode:astData.explode}">{{astData.text}}</div>
    <app-explotion *ngIf="astData.explode"></app-explotion>
</div>